Exercise on gathering and cleaning:

In [1]:
link2="https://en.wikipedia.org/wiki/List_of_ISO_3166_country_codes"
link3="https://en.wikipedia.org/wiki/List_of_countries_and_dependencies_by_population"

import pandas as pd

data2=pd.read_html(link2,header=1,flavor="bs4",attrs={'class':"wikitable sortable"})
data3=pd.read_html(link3,header=0,flavor="bs4",attrs={'class':"wikitable sortable"})

In [2]:
isodata=data2[0].copy()

In [3]:
isodata.head()

,Country name[5],Official state name[6],Sovereignty[6][7][8],Alpha-2 code[5],Alpha-3 code[5],Numeric code[5],Subdivision code links[3],Internet ccTLD[9]
0,Afghanistan,The Islamic Republic of Afghanistan,UN member state,.mw-parser-output .monospaced{font-family:mono...,AFG,004,ISO 3166-2:AF,.af
1,"Akrotiri and Dhekelia – See United Kingdom, The.","Akrotiri and Dhekelia – See United Kingdom, The.","Akrotiri and Dhekelia – See United Kingdom, The.","Akrotiri and Dhekelia – See United Kingdom, The.","Akrotiri and Dhekelia – See United Kingdom, The.","Akrotiri and Dhekelia – See United Kingdom, The.","Akrotiri and Dhekelia – See United Kingdom, The.","Akrotiri and Dhekelia – See United Kingdom, The."
2,Åland Islands,Åland,Finland,AX,ALA,248,ISO 3166-2:AX,.ax
3,Albania,The Republic of Albania,UN member state,AL,ALB,008,ISO 3166-2:AL,.al
4,Algeria,The People's Democratic Republic of Algeria,UN member state,DZ,DZA,012,ISO 3166-2:DZ,.dz

In [4]:
isodata.columns=isodata.columns.str.replace("\\s|\\[[0-9]+]","",regex=True)
isodata.columns

Index(['Countryname', 'Officialstatename', 'Sovereignty', 'Alpha-2code',
       'Alpha-3code', 'Numericcode', 'Subdivisioncodelinks', 'InternetccTLD'],
      dtype='object')

In [5]:
isodata['Alpha-2code'].str.extract("([A-Z][A-Z])")

       0
0     AF
1    NaN
2     AX
3     AL
4     DZ
..   ...
275   WF
276   EH
277   YE
278   ZM
279   ZW

[280 rows x 1 columns]

In [6]:
isodata["iso2"]=isodata['Alpha-2code'].str.extract("([A-Z][A-Z])")
isodata["iso3"]=isodata['Alpha-3code'].str.extract("([A-Z][A-Z][A-Z])")

In [7]:
isodata.dropna(subset=["iso2","iso3"],inplace=True)
isodata.reset_index(drop=True,inplace=True)
isodata

,Countryname,Officialstatename,Sovereignty,Alpha-2code,Alpha-3code,Numericcode,Subdivisioncodelinks,InternetccTLD,iso2,iso3
0,Afghanistan,The Islamic Republic of Afghanistan,UN member state,.mw-parser-output .monospaced{font-family:mono...,AFG,004,ISO 3166-2:AF,.af,AF,AFG
1,Åland Islands,Åland,Finland,AX,ALA,248,ISO 3166-2:AX,.ax,AX,ALA
2,Albania,The Republic of Albania,UN member state,AL,ALB,008,ISO 3166-2:AL,.al,AL,ALB
3,Algeria,The People's Democratic Republic of Algeria,UN member state,DZ,DZA,012,ISO 3166-2:DZ,.dz,DZ,DZA
4,American Samoa,The Territory of American Samoa,United States,AS,ASM,016,ISO 3166-2:AS,.as,AS,ASM
...,...,...,...,...,...,...,...,...,...,...
243,Wallis and Futuna,The Territory of the Wallis and Futuna Islands,France,WF,WLF,876,ISO 3166-2:WF,.wf,WF,WLF
244,Western Sahara [ah],The Sahrawi Arab Democratic Republic,Disputed [ai],EH,ESH,732,ISO 3166-2:EH,[aj],EH,ESH
245,Yemen,The Republic of Yemen,UN member state,YE,YEM,887,ISO 3166-2:YE,.ye,YE,YEM
246,Zambia,The Republic of Zambia,UN member state,ZM,ZMB,894,ISO 3166-2:ZM,.zm,ZM,ZMB
247,Zimbabwe,The Republic of Zimbabwe,UN member state,ZW,ZWE,716,ISO 3166-2:ZW,.zw,ZW,ZWE

In [8]:
isodata[isodata.InternetccTLD.str.startswith("[")]

,Countryname,Officialstatename,Sovereignty,Alpha-2code,Alpha-3code,Numericcode,Subdivisioncodelinks,InternetccTLD,iso2,iso3
30,Bouvet Island,Bouvet Island,Norway,BV,BVT,074,ISO 3166-2:BV,[d],BV,BVT
212,Svalbard Jan Mayen,Svalbard and Jan Mayen,Norway,SJ,SJM,744,ISO 3166-2:SJ,[w],SJ,SJM
234,United States Minor Outlying Islands (the) [ac],"Baker Island, Howland Island, Jarvis Island, J...",United States,UM,UMI,581,ISO 3166-2:UM,[ad],UM,UMI
244,Western Sahara [ah],The Sahrawi Arab Democratic Republic,Disputed [ai],EH,ESH,732,ISO 3166-2:EH,[aj],EH,ESH

In [9]:
isodata[isodata.InternetccTLD.str.match("(.[a-z][a-z]\\s.[a-z][a-z])")]

,Countryname,Officialstatename,Sovereignty,Alpha-2code,Alpha-3code,Numericcode,Subdivisioncodelinks,InternetccTLD,iso2,iso3
27,Bonaire Sint Eustatius Saba,"Bonaire, Sint Eustatius and Saba",Netherlands,BQ,BES,535,ISO 3166-2:BQ,.bq .nl [c],BQ,BES
233,United Kingdom of Great Britain and Northern I...,The United Kingdom of Great Britain and Northe...,UN member state,GB,GBR,826,ISO 3166-2:GB,.gb .uk [ab],GB,GBR

In [10]:
isodata.loc[isodata.InternetccTLD.str.startswith("["),"InternetccTLD"]

30      [d]
212     [w]
234    [ad]
244    [aj]
Name: InternetccTLD, dtype: object

In [11]:
isodata.loc[isodata.InternetccTLD.str.match("(.[a-z][a-z]\\s.[a-z][a-z])"),"InternetccTLD"]

27      .bq .nl [c]
233    .gb .uk [ab]
Name: InternetccTLD, dtype: object

In [12]:
isodata.loc[isodata.InternetccTLD.str.match("(.[a-z][a-z]\\s.[a-z][a-z])"),"InternetccTLD"]=['.nl','.uk']

In [13]:
isodata.loc[isodata.InternetccTLD.str.startswith("["),"InternetccTLD"]=None

In [14]:
isodata.loc[[30,212,234,244],:]

,Countryname,Officialstatename,Sovereignty,Alpha-2code,Alpha-3code,Numericcode,Subdivisioncodelinks,InternetccTLD,iso2,iso3
30,Bouvet Island,Bouvet Island,Norway,BV,BVT,074,ISO 3166-2:BV,None,BV,BVT
212,Svalbard Jan Mayen,Svalbard and Jan Mayen,Norway,SJ,SJM,744,ISO 3166-2:SJ,None,SJ,SJM
234,United States Minor Outlying Islands (the) [ac],"Baker Island, Howland Island, Jarvis Island, J...",United States,UM,UMI,581,ISO 3166-2:UM,None,UM,UMI
244,Western Sahara [ah],The Sahrawi Arab Democratic Republic,Disputed [ai],EH,ESH,732,ISO 3166-2:EH,None,EH,ESH

In [15]:
isodata.loc[[27,233],:]

,Countryname,Officialstatename,Sovereignty,Alpha-2code,Alpha-3code,Numericcode,Subdivisioncodelinks,InternetccTLD,iso2,iso3
27,Bonaire Sint Eustatius Saba,"Bonaire, Sint Eustatius and Saba",Netherlands,BQ,BES,535,ISO 3166-2:BQ,.nl,BQ,BES
233,United Kingdom of Great Britain and Northern I...,The United Kingdom of Great Britain and Northe...,UN member state,GB,GBR,826,ISO 3166-2:GB,.uk,GB,GBR

In [16]:
whichToDrop=range(2,7)
isodata.drop(labels=isodata.columns[whichToDrop],axis=1,inplace=True)

In [17]:
isodata.loc[isodata.Countryname.str.endswith("]"),]

,Countryname,Officialstatename,InternetccTLD,iso2,iso3
8,Antarctica [a],All land and ice shelves south of the 60th par...,.aq,AQ,ATA
13,Australia [b],The Commonwealth of Australia,.au,AU,AUS
33,Brunei Darussalam [e],"The Nation of Brunei, the Abode of Peace",.bn,BN,BRN
37,Cabo Verde [f],The Republic of Cabo Verde,.cv,CV,CPV
51,Congo (the) [g],The Republic of the Congo,.cg,CG,COG
54,Côte d'Ivoire [h],The Republic of Côte d'Ivoire,.ci,CI,CIV
59,Czechia [i],The Czech Republic,.cz,CZ,CZE
70,Eswatini [j],The Kingdom of Eswatini,.sz,SZ,SWZ
72,Falkland Islands (the) [Malvinas] [k],The Falkland Islands,.fk,FK,FLK
76,France [l],The French Republic,.fr,FR,FRA
79,French Southern Territories (the) [m],The French Southern and Antarctic Lands,.tf,TF,ATF
98,Holy See (the) [n],The Holy See,.va,VA,VAT
118,Korea (the Democratic People's Republic of) [o],The Democratic People's Republic of Korea,.kp,KP,PRK
119,Korea (the Republic of) [p],The Republic of Korea,.kr,KR,KOR
122,Lao People's Democratic Republic (the) [q],The Lao People's Democratic Republic,.la,LA,LAO
131,Macao [r],The Macao Special Administrative Region of Chi...,.mo,MO,MAC
132,North Macedonia [s],The Republic of North Macedonia[12],.mk,MK,MKD
153,Myanmar [t],The Republic of the Union of Myanmar,.mm,MM,MMR
175,Pitcairn [u],"The Pitcairn, Henderson, Ducie and Oeno Islands",.pn,PN,PCN
182,Russian Federation (the) [v],The Russian Federation,.ru,RU,RUS
215,Syrian Arab Republic (the) [x],The Syrian Arab Republic,.sy,SY,SYR
216,Taiwan (Province of China) [y],The Republic of China,.tw,TW,TWN
220,Timor-Leste [aa],The Democratic Republic of Timor-Leste,.tl,TL,TLS
234,United States Minor Outlying Islands (the) [ac],"Baker Island, Howland Island, Jarvis Island, J...",None,UM,UMI
240,Viet Nam [ae],The Socialist Republic of Viet Nam,.vn,VN,VNM
241,Virgin Islands (British) [af],The Virgin Islands,.vg,VG,VGB
242,Virgin Islands (U.S.) [ag],The Virgin Islands of the United States,.vi,VI,VIR
244,Western Sahara [ah],The Sahrawi Arab Democratic Republic,None,EH,ESH

In [18]:
isodata.Countryname=isodata.Countryname.str.replace("\\[.+?\\]","",regex=True)
isodata.loc[isodata.Countryname.str.endswith("]"),]

Empty DataFrame
Columns: [Countryname, Officialstatename, InternetccTLD, iso2, iso3]
Index: []

In [19]:
isodata=isodata.apply(lambda x: x.str.strip())

In [20]:
isodata.to_csv("isodata.csv",index=False)
isodata

,Countryname,Officialstatename,InternetccTLD,iso2,iso3
0,Afghanistan,The Islamic Republic of Afghanistan,.af,AF,AFG
1,Åland Islands,Åland,.ax,AX,ALA
2,Albania,The Republic of Albania,.al,AL,ALB
3,Algeria,The People's Democratic Republic of Algeria,.dz,DZ,DZA
4,American Samoa,The Territory of American Samoa,.as,AS,ASM
...,...,...,...,...,...
243,Wallis and Futuna,The Territory of the Wallis and Futuna Islands,.wf,WF,WLF
244,Western Sahara,The Sahrawi Arab Democratic Republic,None,EH,ESH
245,Yemen,The Republic of Yemen,.ye,YE,YEM
246,Zambia,The Republic of Zambia,.zm,ZM,ZMB
247,Zimbabwe,The Republic of Zimbabwe,.zw,ZW,ZWE

In [21]:
regiondata=data3[0].copy()
regiondata.head()

,Rank,Country / Dependency,Region,Population,% of world,Date,Source (official or from the United Nations),Notes
0,–,NaN,World,7923476000,NaN,16 Jan 2022,UN projection[1],NaN
1,1,China,Asia,1411778724,17.8%,1 Nov 2020,2020 census result[2],"The census figure refers to mainland China, ex..."
2,2,India,Asia,1386866394,17.5%,16 Jan 2022,National population clock[3],The figure includes the population of India-ad...
3,3,United States,Americas,333061898,4.20%,16 Jan 2022,National population clock[4],Includes the 50 states and the District of Col...
4,4,Indonesia[b],Asia,271350000,3.42%,31 Dec 2020,National annual estimate[5],NaN

In [22]:
WhichToDrop=list(set(range(8))-set([1,2]))
WhichToDrop

[0, 3, 4, 5, 6, 7]

In [23]:
regiondata.drop(labels=regiondata.columns[WhichToDrop],axis=1,inplace=True)
regiondata

                    Country / Dependency    Region
0                                    NaN     World
1                                  China      Asia
2                                  India      Asia
3                          United States  Americas
4                           Indonesia[b]      Asia
..                                   ...       ...
237                   Niue (New Zealand)   Oceania
238                Tokelau (New Zealand)   Oceania
239                         Vatican City    Europe
240  Cocos (Keeling) Islands (Australia)   Oceania
241    Pitcairn Islands (United Kingdom)   Oceania

[242 rows x 2 columns]

In [24]:
regiondata.Region.value_counts()

Africa      56
Asia        55
Europe      52
Americas    51
Oceania     27
World        1
Name: Region, dtype: int64

In [25]:
regiondata=regiondata[regiondata.Region!="World"]
regiondata.reset_index(drop=True,inplace=True)
regiondata

                    Country / Dependency    Region
0                                  China      Asia
1                                  India      Asia
2                          United States  Americas
3                           Indonesia[b]      Asia
4                               Pakistan      Asia
..                                   ...       ...
236                   Niue (New Zealand)   Oceania
237                Tokelau (New Zealand)   Oceania
238                         Vatican City    Europe
239  Cocos (Keeling) Islands (Australia)   Oceania
240    Pitcairn Islands (United Kingdom)   Oceania

[241 rows x 2 columns]

In [27]:
regiondata.columns=["Country","Region"]

In [28]:
regiondata[regiondata["Country"].str.endswith("]")]

           Country  Region
3     Indonesia[b]    Asia
8        Russia[b]  Europe
13        Egypt[b]  Africa
17       Turkey[b]    Asia
62   Kazakhstan[b]    Asia
90   Azerbaijan[b]    Asia
130     Georgia[b]    Asia
161      Cyprus[c]    Asia

In [30]:
regiondata.Country=regiondata.Country.str.replace("\\[.+?\\]","",regex=True)

In [31]:
regiondata[['Country', 'CountryMain']] = regiondata['Country'].str.split('(', 1, expand=True)

/Users/JoseManuel/anaconda3/envs/Evans_GovAnalytics/lib/python3.7/site-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [32]:
#regiondata[regiondata.CountryMain]
regiondata[~pd.isna(regiondata.CountryMain)]

,Country,Region,CountryMain
102,Hong Kong,Asia,China)
135,Puerto Rico,Americas,United States)
166,Macau,Asia,China)
182,French Polynesia,Oceania,France)
183,New Caledonia,Oceania,France)
188,Guam,Oceania,United States)
189,Curaçao,Americas,Netherlands)
193,Aruba,Americas,Netherlands)
195,Jersey,Europe,British Crown Dependency)
197,U.S. Virgin Islands,Americas,United States)
201,Isle of Man,Europe,British Crown Dependency)
204,Cayman Islands,Americas,United Kingdom)
205,Bermuda,Americas,United Kingdom)
206,Guernsey,Europe,British Crown Dependency)
207,American Samoa,Oceania,United States)
208,Northern Mariana Islands,Oceania,United States)
209,Greenland,Americas,Denmark)
213,Faroe Islands,Europe,Denmark)
214,Turks and Caicos Islands,Americas,United Kingdom)
215,Sint Maarten,Americas,Netherlands)
218,Saint Martin,Americas,France)
219,Gibraltar,Europe,United Kingdom)
221,Åland,Europe,Finland)
222,British Virgin Islands,Americas,United Kingdom)
224,Cook Islands,Oceania,New Zealand)
225,Anguilla,Americas,United Kingdom)
227,Wallis and Futuna,Oceania,France)
229,Saint Barthélemy,Americas,France)
230,"Saint Helena, Ascension and Tristan da Cunha",Africa,United Kingdom)
231,Saint Pierre and Miquelon,Americas,France)
232,Montserrat,Americas,United Kingdom)
233,Falkland Islands,Americas,United Kingdom)
234,Christmas Island,Oceania,Australia)
235,Norfolk Island,Oceania,Australia)
236,Niue,Oceania,New Zealand)
237,Tokelau,Oceania,New Zealand)
239,Cocos,Oceania,Keeling) Islands (Australia)
240,Pitcairn Islands,Oceania,United Kingdom)

In [37]:
regiondata.CountryMain=regiondata.CountryMain.str.replace(")","",regex=False)

In [38]:
regiondata

               Country    Region                 CountryMain
0                China      Asia                        None
1                India      Asia                        None
2        United States  Americas                        None
3            Indonesia      Asia                        None
4             Pakistan      Asia                        None
..                 ...       ...                         ...
236              Niue    Oceania                 New Zealand
237           Tokelau    Oceania                 New Zealand
238       Vatican City    Europe                        None
239             Cocos    Oceania  Keeling Islands (Australia
240  Pitcairn Islands    Oceania              United Kingdom

[241 rows x 3 columns]

In [39]:
regiondata.loc[239,"Country"]="Cocos Islands"

/Users/JoseManuel/anaconda3/envs/Evans_GovAnalytics/lib/python3.7/site-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
/Users/JoseManuel/anaconda3/envs/Evans_GovAnalytics/lib/python3.7/site-packages/pandas/core/indexing.py:723: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value, self.name)

In [40]:
regiondata.iloc[239,0]

'Cocos Islands'

In [41]:
regiondata.loc[239,"CountryMain"]="Australia"

In [42]:
regiondata.iloc[239,2]

'Australia'

In [47]:
regiondata.loc[229,"Country"]

'Saint Barthélemy'

In [48]:
regiondata=regiondata.apply(lambda x: x.str.strip())

In [49]:
regiondata.loc[236,"Country"]

'Niue'

In [50]:
regiondata.to_csv("regiondata.csv",index=False)