<center><img src="http://i.imgur.com/sSaOozN.png" width="500"></center>

## Course: Computational Thinking for Governance Analytics

### Prof. José Manuel Magallanes, PhD 
* Visiting Professor of Computational Policy at Evans School of Public Policy and Governance, and eScience Institute Senior Data Science Fellow, University of Washington.
* Professor of Government and Political Methodology, Pontificia Universidad Católica del Perú. 

_____

# Data Preprocessing in Python: Data Integration and Reshaping

We all know collect data from different places. While the cleaning and formatting is done for each data source, we finally need to integrate all the sources into one to start the real analytical work.

I will use several data sets in this material. Let me start with the one from CIA on internet users:

In [1]:
import pandas as pd

demoLink="https://en.wikipedia.org/wiki/Democracy_Index"

demodata=pd.read_html(demoLink,header=0,flavor="bs4",attrs={'class':"wikitable sortable"})

You should remember by now that **demodata** is a _list_ of all the sortable tables from that URL. Let me recover the one we saw last week:

In [2]:
demoVars=demodata[4].copy()

Let's see some info:

In [3]:
demoVars.head()

,Rank,.mw-parser-output .tooltip-dotted{border-bottom:1px dotted;cursor:help}Δ Rank,Country,Regime type,Overall score,Δ Score,Elec­toral pro­cess and plura­lism,Func­tioning of govern­ment,Poli­tical partici­pation,Poli­tical cul­ture,Civil liber­ties
0,Full democracies,Full democracies,Full democracies,Full democracies,Full democracies,Full democracies,Full democracies,Full democracies,Full democracies,Full democracies,Full democracies
1,1,NaN,Norway,Full democracy,9.81,0.06,10.00,9.64,10.00,10.00,9.41
2,2,NaN,Iceland,Full democracy,9.37,0.21,10.00,8.57,8.89,10.00,9.41
3,3,NaN,Sweden,Full democracy,9.26,0.13,9.58,9.29,8.33,10.00,9.12
4,4,NaN,New Zealand,Full democracy,9.25,0.01,10.00,8.93,8.89,8.75,9.71

Let's keep the columns we will  use:

In [4]:
whichToDrop=[0,1,5]
demoVars.drop(labels=demoVars.columns[whichToDrop],axis=1,inplace=True)

In [5]:
demoVars

,Country,Regime type,Overall score,Elec­toral pro­cess and plura­lism,Func­tioning of govern­ment,Poli­tical partici­pation,Poli­tical cul­ture,Civil liber­ties
0,Full democracies,Full democracies,Full democracies,Full democracies,Full democracies,Full democracies,Full democracies,Full democracies
1,Norway,Full democracy,9.81,10.00,9.64,10.00,10.00,9.41
2,Iceland,Full democracy,9.37,10.00,8.57,8.89,10.00,9.41
3,Sweden,Full democracy,9.26,9.58,9.29,8.33,10.00,9.12
4,New Zealand,Full democracy,9.25,10.00,8.93,8.89,8.75,9.71
...,...,...,...,...,...,...,...,...
166,Chad,Authoritarian,1.55,0.00,0.00,1.67,3.75,2.35
167,Syria,Authoritarian,1.43,0.00,0.00,2.78,4.38,0.00
168,Central African Republic,Authoritarian,1.32,1.25,0.00,1.11,1.88,2.35
169,Democratic Republic of the Congo,Authoritarian,1.13,0.00,0.00,1.67,3.13,0.88
170,North Korea,Authoritarian,1.08,0.00,2.50,1.67,1.25,0.00

Let's clean the columns names:

In [6]:
# these are:
demoVars.columns

Index(['Country', 'Regime type', 'Overall score',
       'Elec­toral pro­cess and plura­lism', 'Func­tioning of govern­ment',
       'Poli­tical partici­pation', 'Poli­tical cul­ture', 'Civil liber­ties'],
      dtype='object')

Let's try one of those with a dash:

In [7]:
import re
re.sub("\\s","",demoVars.columns[5])

'Poli\xadticalpartici\xadpation'

The result shows you some hidden character. Let's use that info with the pandas replace:

In [8]:
demoVars.columns=demoVars.columns.str.replace("\\s|\\xad","",regex=True)

Let's clean the data contents. Notice that in the website some labels that are not needed are present in this case. Let's check the frequency table of "Regime Type" to try to identify the wrong labels that are affecting the data frame:

In [9]:
demoVars['Regimetype'].value_counts()

Authoritarian            57
Flawed democracy         52
Hybrid regime            35
Full democracy           23
Full democracies          1
Flawed democracies        1
Hybrid regimes            1
Authoritarian regimes     1
Name: Regimetype, dtype: int64

In [10]:
# these are the wrong ones:
demoVars['Regimetype'].value_counts().index[4:]

Index(['Full democracies', 'Flawed democracies', 'Hybrid regimes',
       'Authoritarian regimes'],
      dtype='object')

In [11]:
#saving the wrong ones:
byeValues=demoVars['Regimetype'].value_counts().index[4:]

Now that we know which ones are not needed, we can filter the data frame rows using pandas' **isnin**:

In [12]:
demoVars = demoVars[~demoVars['Regimetype'].isin(byeValues)]
demoVars

,Country,Regimetype,Overallscore,Electoralprocessandpluralism,Functioningofgovernment,Politicalparticipation,Politicalculture,Civilliberties
1,Norway,Full democracy,9.81,10.00,9.64,10.00,10.00,9.41
2,Iceland,Full democracy,9.37,10.00,8.57,8.89,10.00,9.41
3,Sweden,Full democracy,9.26,9.58,9.29,8.33,10.00,9.12
4,New Zealand,Full democracy,9.25,10.00,8.93,8.89,8.75,9.71
5,Canada,Full democracy,9.24,9.58,8.93,8.89,9.38,9.41
...,...,...,...,...,...,...,...,...
166,Chad,Authoritarian,1.55,0.00,0.00,1.67,3.75,2.35
167,Syria,Authoritarian,1.43,0.00,0.00,2.78,4.38,0.00
168,Central African Republic,Authoritarian,1.32,1.25,0.00,1.11,1.88,2.35
169,Democratic Republic of the Congo,Authoritarian,1.13,0.00,0.00,1.67,3.13,0.88
170,North Korea,Authoritarian,1.08,0.00,2.50,1.67,1.25,0.00

Notice that the index **0** has dissapeared, and that even though you have 167 countries now, the last one has index **170**. When you filter rows that will happen; so it is better to reset the indexes of the data frame:

In [13]:
demoVars.reset_index(drop=True,inplace=True)
demoVars

,Country,Regimetype,Overallscore,Electoralprocessandpluralism,Functioningofgovernment,Politicalparticipation,Politicalculture,Civilliberties
0,Norway,Full democracy,9.81,10.00,9.64,10.00,10.00,9.41
1,Iceland,Full democracy,9.37,10.00,8.57,8.89,10.00,9.41
2,Sweden,Full democracy,9.26,9.58,9.29,8.33,10.00,9.12
3,New Zealand,Full democracy,9.25,10.00,8.93,8.89,8.75,9.71
4,Canada,Full democracy,9.24,9.58,8.93,8.89,9.38,9.41
...,...,...,...,...,...,...,...,...
162,Chad,Authoritarian,1.55,0.00,0.00,1.67,3.75,2.35
163,Syria,Authoritarian,1.43,0.00,0.00,2.78,4.38,0.00
164,Central African Republic,Authoritarian,1.32,1.25,0.00,1.11,1.88,2.35
165,Democratic Republic of the Congo,Authoritarian,1.13,0.00,0.00,1.67,3.13,0.88
166,North Korea,Authoritarian,1.08,0.00,2.50,1.67,1.25,0.00

Let's see the data types:

In [14]:
demoVars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 167 entries, 0 to 166
Data columns (total 8 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Country                       167 non-null    object
 1   Regimetype                    167 non-null    object
 2   Overallscore                  167 non-null    object
 3   Electoralprocessandpluralism  167 non-null    object
 4   Functioningofgovernment       167 non-null    object
 5   Politicalparticipation        167 non-null    object
 6   Politicalculture              167 non-null    object
 7   Civilliberties                167 non-null    object
dtypes: object(8)
memory usage: 10.6+ KB

The data types are wrong. In this situation, Python is not recognizing the numbers, so pandas will not offer basic stats:

In [15]:
demoVars.describe()

,Country,Regimetype,Overallscore,Electoralprocessandpluralism,Functioningofgovernment,Politicalparticipation,Politicalculture,Civilliberties
count,167,167,167,167,167,167,167,167
unique,167,4,155,48,44,18,15,33
top,Norway,Authoritarian,4.86,9.58,5.36,6.67,5.63,8.53
freq,1,57,2,26,16,23,31,11

In [16]:
toBeNumeric_Index=demoVars.columns[2:]

demoVars[toBeNumeric_Index]=demoVars.loc[:,toBeNumeric_Index].apply(pd.to_numeric, errors='raise')

/Users/JoseManuel/anaconda3/envs/Evans_GovAnalytics/lib/python3.7/site-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [17]:
demoVars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 167 entries, 0 to 166
Data columns (total 8 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Country                       167 non-null    object
 1   Regimetype                    167 non-null    object
 2   Overallscore                  167 non-null    float64
 3   Electoralprocessandpluralism  167 non-null    float64
 4   Functioningofgovernment       167 non-null    float64
 5   Politicalparticipation        167 non-null    float64
 6   Politicalculture              167 non-null    float64
 7   Civilliberties                167 non-null    float64
dtypes: float64(6), object(2)
memory usage: 10.6+ KB

In [18]:
demoVars.describe(include='all')

,Country,Regimetype,Overallscore,Electoralprocessandpluralism,Functioningofgovernment,Politicalparticipation,Politicalculture,Civilliberties
count,167,167,167.000000,167.000000,167.000000,167.000000,167.000000,167.000000
unique,167,4,NaN,NaN,NaN,NaN,NaN,NaN
top,Norway,Authoritarian,NaN,NaN,NaN,NaN,NaN,NaN
freq,1,57,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,5.369760,5.762874,4.676467,5.389401,5.549042,5.494970
std,NaN,NaN,2.252275,3.698209,2.514419,1.911512,1.749007,2.655677
min,NaN,NaN,1.080000,0.000000,0.000000,0.560000,1.250000,0.000000
25%,NaN,NaN,3.265000,2.415000,2.860000,3.890000,4.380000,3.240000
50%,NaN,NaN,5.710000,7.000000,5.000000,5.560000,5.630000,5.590000
75%,NaN,NaN,7.130000,9.170000,6.430000,6.670000,6.250000,7.940000
max,NaN,NaN,9.810000,10.000000,9.640000,10.000000,10.000000,9.710000

Can you clean gather and clean  these tables?

In [19]:
link2="https://en.wikipedia.org/wiki/List_of_ISO_3166_country_codes"
link3="https://en.wikipedia.org/wiki/List_of_countries_and_dependencies_by_population"

## Merging

Integrating data sets needs the following considerations:

* Merging is done on two data frames (you can prepare a function to merge more).
* You need a common column to be used in both data frames. The column names can be different.
* The merge can keep the full coincidences, or also the values not matched, which will help you detect possible extra cleaning.
* Pandas differentiates the **left** from the **right** data frames.

I will add two dataframes:

In [177]:
linkDataIso='https://github.com/EvansDataScience/CTforGA_integrating/raw/main/isodata.csv'
DataIso=pd.read_csv(linkDataIso)

In [178]:
#Remember the names:
DataIso.columns
#DataRegion.columns
#demoVars.columns

Index(['Countryname', 'Officialstatename', 'InternetccTLD', 'iso2', 'iso3'], dtype='object')

* **Option one**: merge only the coincidences:

In [179]:
allData=demoVars.merge(DataIso,left_on="Country",right_on="Countryname") # keys are different
allData=allData.merge(DataRegion)

How many rows I kept after merging:

In [180]:
allData.shape

(137, 15)

The previous merges just got rid of any row that could not find coincidences in the keys.

* **Option two**: you want to keep all the rows from **both** data frames:

In [181]:
allDataFull=demoVars.merge(DataIso,left_on="Country",right_on="Countryname",how='outer',indicator='True')

In [182]:
allDataFull.columns

Index(['Country', 'Regimetype', 'Overallscore', 'Electoralprocessandpluralism',
       'Functioningofgovernment', 'Politicalparticipation', 'Politicalculture',
       'Civilliberties', 'Countryname', 'Officialstatename', 'InternetccTLD',
       'iso2', 'iso3', 'True'],
      dtype='object')

In [183]:
allDataFull['True'].value_counts()

both          138
right_only    111
left_only      29
Name: True, dtype: int64

In [184]:
allDataFull[allDataFull['True']=='right_only']

,Country,Regimetype,Overallscore,Electoralprocessandpluralism,Functioningofgovernment,Politicalparticipation,Politicalculture,Civilliberties,Countryname,Officialstatename,InternetccTLD,iso2,iso3,True
167,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Åland Islands,Åland,.ax,AX,ALA,right_only
168,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,American Samoa,The Territory of American Samoa,.as,AS,ASM,right_only
169,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Andorra,The Principality of Andorra,.ad,AD,AND,right_only
170,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Anguilla,Anguilla,.ai,AI,AIA,right_only
171,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Antarctica,All land and ice shelves south of the 60th par...,.aq,AQ,ATA,right_only
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
273,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Viet Nam,The Socialist Republic of Viet Nam,.vn,VN,VNM,right_only
274,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Virgin Islands (British),The Virgin Islands,.vg,VG,VGB,right_only
275,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Virgin Islands (U.S.),The Virgin Islands of the United States,.vi,VI,VIR,right_only
276,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Wallis and Futuna,The Territory of the Wallis and Futuna Islands,.wf,WF,WLF,right_only
277,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Western Sahara,The Sahrawi Arab Democratic Republic,NaN,EH,ESH,right_only

In [105]:
allDataFull[allDataFull['True']=='left_only']

,Country,Regimetype,Overallscore,Electoralprocessandpluralism,Functioningofgovernment,Politicalparticipation,Politicalculture,Civilliberties,Countryname,Officialstatename,InternetccTLD,iso2,iso3,True
9,Netherlands,Full democracy,8.96,9.58,9.29,8.33,8.75,8.82,NaN,NaN,NaN,NaN,NaN,left_only
10,Taiwan,Full democracy,8.94,10.00,9.64,7.22,8.13,9.71,NaN,NaN,NaN,NaN,NaN,left_only
15,United Kingdom,Full democracy,8.54,10.00,7.50,8.89,7.50,8.82,NaN,NaN,NaN,NaN,NaN,left_only
22,South Korea,Full democracy,8.01,9.17,8.21,7.22,7.50,7.94,NaN,NaN,NaN,NaN,NaN,left_only
24,United States,Flawed democracy,7.92,9.17,6.79,8.89,6.25,8.53,NaN,NaN,NaN,NaN,NaN,left_only
30,Czech Republic,Flawed democracy,7.67,9.58,6.07,6.67,7.50,8.53,NaN,NaN,NaN,NaN,NaN,left_only
31,Cape Verde,Flawed democracy,7.65,9.17,7.00,6.67,6.88,8.53,NaN,NaN,NaN,NaN,NaN,left_only
54,Philippines,Flawed democracy,6.56,9.17,5.00,7.78,4.38,6.47,NaN,NaN,NaN,NaN,NaN,left_only
57,Namibia,Flawed democracy,6.52,7.00,5.36,6.67,5.63,7.94,NaN,NaN,NaN,NaN,NaN,left_only
62,Dominican Republic,Flawed democracy,6.32,9.17,4.29,6.11,5.00,7.06,NaN,NaN,NaN,NaN,NaN,left_only
79,Moldova,Hybrid regime,5.78,7.00,4.64,6.11,4.38,6.76,NaN,NaN,NaN,NaN,NaN,left_only
92,Tanzania,Hybrid regime,5.10,4.83,5.00,5.00,6.25,4.41,NaN,NaN,NaN,NaN,NaN,left_only
93,Bolivia,Hybrid regime,5.08,6.08,3.57,6.11,3.75,5.88,NaN,NaN,NaN,NaN,NaN,left_only
102,Gambia,Hybrid regime,4.49,4.00,4.29,4.44,5.63,4.12,NaN,NaN,NaN,NaN,NaN,left_only
108,Ivory Coast,Hybrid regime,4.11,4.33,2.86,3.89,5.63,3.82,NaN,NaN,NaN,NaN,NaN,left_only
112,Palestine,Authoritarian,3.83,3.33,0.14,7.78,4.38,3.53,NaN,NaN,NaN,NaN,NaN,left_only
123,Russia,Authoritarian,3.31,2.17,2.14,5.00,3.13,4.12,NaN,NaN,NaN,NaN,NaN,left_only
124,Niger,Authoritarian,3.29,2.92,1.14,3.33,4.38,4.71,NaN,NaN,NaN,NaN,NaN,left_only
128,Republic of the Congo,Authoritarian,3.11,2.17,2.50,3.89,3.75,3.24,NaN,NaN,NaN,NaN,NaN,left_only
131,Comoros,Authoritarian,3.09,2.08,2.21,3.89,3.75,3.53,NaN,NaN,NaN,NaN,NaN,left_only
136,Vietnam,Authoritarian,2.94,0.00,2.86,3.89,5.63,2.35,NaN,NaN,NaN,NaN,NaN,left_only
142,Venezuela,Authoritarian,2.76,0.00,1.79,5.00,4.38,2.65,NaN,NaN,NaN,NaN,NaN,left_only
144,United Arab Emirates,Authoritarian,2.70,0.00,3.93,2.22,5.00,2.65,NaN,NaN,NaN,NaN,NaN,left_only
148,Sudan,Authoritarian,2.54,0.00,1.79,4.44,5.00,1.47,NaN,NaN,NaN,NaN,NaN,left_only
151,Iran,Authoritarian,2.20,0.00,2.50,3.89,3.13,1.47,NaN,NaN,NaN,NaN,NaN,left_only
160,Laos,Authoritarian,1.77,0.00,2.86,1.67,3.75,0.59,NaN,NaN,NaN,NaN,NaN,left_only
163,Syria,Authoritarian,1.43,0.00,0.00,2.78,4.38,0.00,NaN,NaN,NaN,NaN,NaN,left_only
164,Central African Republic,Authoritarian,1.32,1.25,0.00,1.11,1.88,2.35,NaN,NaN,NaN,NaN,NaN,left_only
165,Democratic Republic of the Congo,Authoritarian,1.13,0.00,0.00,1.67,3.13,0.88,NaN,NaN,NaN,NaN,NaN,left_only
166,North Korea,Authoritarian,1.08,0.00,2.50,1.67,1.25,0.00,NaN,NaN,NaN,NaN,NaN,left_only

Fuzzy Merge using [TheFuzz](https://github.com/seatgeek/thefuzz)

In [185]:
from thefuzz import process

In [186]:
UnmatchedLeft=allDataFull[allDataFull['True']=='left_only'].Country.to_list()
UnmatchedLeft

['Netherlands',
 'Taiwan',
 'United Kingdom',
 'South Korea',
 'United States',
 'Czech Republic',
 'Cape Verde',
 'Philippines',
 'Dominican Republic',
 'Moldova',
 'Tanzania',
 'Bolivia',
 'Gambia',
 'Ivory Coast',
 'Palestine',
 'Russia',
 'Niger',
 'Republic of the Congo',
 'Comoros',
 'Vietnam',
 'Venezuela',
 'United Arab Emirates',
 'Sudan',
 'Iran',
 'Laos',
 'Syria',
 'Central African Republic',
 'Democratic Republic of the Congo',
 'North Korea']

In [187]:
UnmatchedRight=allDataFull[allDataFull['True']=='right_only'].Countryname.to_list()
UnmatchedRight

['Åland Islands',
 'American Samoa',
 'Andorra',
 'Anguilla',
 'Antarctica',
 'Antigua and Barbuda',
 'Aruba',
 'Bahamas (the)',
 'Barbados',
 'Belize',
 'Bermuda',
 'Bolivia (Plurinational State of)',
 'Bonaire\xa0Sint Eustatius\xa0Saba',
 'Bouvet Island',
 'British Indian Ocean Territory (the)',
 'Brunei Darussalam',
 'Cabo Verde',
 'Cayman Islands (the)',
 'Central African Republic (the)',
 'Christmas Island',
 'Cocos (Keeling) Islands (the)',
 'Comoros (the)',
 'Congo (the Democratic Republic of the)',
 'Congo (the)',
 'Cook Islands (the)',
 "Côte d'Ivoire",
 'Curaçao',
 'Czechia',
 'Dominica',
 'Dominican Republic (the)',
 'Falkland Islands (the)',
 'Faroe Islands (the)',
 'French Guiana',
 'French Polynesia',
 'French Southern Territories (the)',
 'Gambia (the)',
 'Gibraltar',
 'Greenland',
 'Grenada',
 'Guadeloupe',
 'Guam',
 'Guernsey',
 'Heard Island and McDonald Islands',
 'Holy See (the)',
 'Iran (Islamic Republic of)',
 'Isle of Man',
 'Jersey',
 'Kiribati',
 "Korea (the Democratic People's Republic of)",
 'Korea (the Republic of)',
 "Lao People's Democratic Republic (the)",
 'Liechtenstein',
 'Macao',
 'Maldives',
 'Marshall Islands (the)',
 'Martinique',
 'Mayotte',
 'Micronesia (Federated States of)',
 'Moldova (the Republic of)',
 'Monaco',
 'Montserrat',
 'Nauru',
 'Netherlands (the)',
 'New Caledonia',
 'Niger (the)',
 'Niue',
 'Norfolk Island',
 'Northern Mariana Islands (the)',
 'Palau',
 'Palestine, State of',
 'Philippines (the)',
 'Pitcairn',
 'Puerto Rico',
 'Réunion',
 'Russian Federation (the)',
 'Saint Barthélemy',
 'Saint Helena\xa0Ascension Island\xa0Tristan da Cunha',
 'Saint Kitts and Nevis',
 'Saint Lucia',
 'Saint Martin (French part)',
 'Saint Pierre and Miquelon',
 'Saint Vincent and the Grenadines',
 'Samoa',
 'San Marino',
 'Sao Tome and Principe',
 'Seychelles',
 'Sint Maarten (Dutch part)',
 'Solomon Islands',
 'Somalia',
 'South Georgia and the South Sandwich Islands',
 'South Sudan',
 'Sudan (the)',
 'Svalbard\xa0Jan Mayen',
 'Syrian Arab Republic (the)',
 'Taiwan (Province of China)',
 'Tanzania, the United Republic of',
 'Tokelau',
 'Tonga',
 'Turks and Caicos Islands (the)',
 'Tuvalu',
 'United Arab Emirates (the)',
 'United Kingdom of Great Britain and Northern Ireland (the)',
 'United States Minor Outlying Islands (the)',
 'United States of America (the)',
 'Vanuatu',
 'Venezuela (Bolivarian Republic of)',
 'Viet Nam',
 'Virgin Islands (British)',
 'Virgin Islands (U.S.)',
 'Wallis and Futuna',
 'Western Sahara']

In [188]:
process.extractOne(UnmatchedLeft[0], UnmatchedRight)

('Netherlands (the)', 95)

In [189]:
[(left, process.extractOne(left, UnmatchedRight)) for left in UnmatchedLeft]

[('Netherlands', ('Netherlands (the)', 95)),
 ('Taiwan', ('Taiwan (Province of China)', 90)),
 ('United Kingdom',
  ('United Kingdom of Great Britain and Northern Ireland (the)', 90)),
 ('South Korea', ("Korea (the Democratic People's Republic of)", 86)),
 ('United States', ('United States Minor Outlying Islands (the)', 90)),
 ('Czech Republic', ('Central African Republic (the)', 86)),
 ('Cape Verde', ('Cabo Verde', 80)),
 ('Philippines', ('Philippines (the)', 95)),
 ('Dominican Republic', ('Dominican Republic (the)', 95)),
 ('Moldova', ('Moldova (the Republic of)', 90)),
 ('Tanzania', ('Tanzania, the United Republic of', 90)),
 ('Bolivia', ('Bolivia (Plurinational State of)', 90)),
 ('Gambia', ('Gambia (the)', 90)),
 ('Ivory Coast', ("Côte d'Ivoire", 58)),
 ('Palestine', ('Palestine, State of', 90)),
 ('Russia', ('Russian Federation (the)', 90)),
 ('Niger', ('Niger (the)', 90)),
 ('Republic of the Congo', ('Bahamas (the)', 86)),
 ('Comoros', ('Comoros (the)', 90)),
 ('Vietnam', ('Viet Nam', 93)),
 ('Venezuela', ('Venezuela (Bolivarian Republic of)', 90)),
 ('United Arab Emirates', ('United Arab Emirates (the)', 95)),
 ('Sudan', ('South Sudan', 90)),
 ('Iran', ('Iran (Islamic Republic of)', 90)),
 ('Laos', ('Barbados', 68)),
 ('Syria', ('Syrian Arab Republic (the)', 90)),
 ('Central African Republic', ('Central African Republic (the)', 95)),
 ('Democratic Republic of the Congo',
  ('Congo (the Democratic Republic of the)', 95)),
 ('North Korea', ("Korea (the Democratic People's Republic of)", 86))]

In [190]:
omit=[('South Korea', ("Korea (the Democratic People's Republic of)", 86)),
('United States', ('United States Minor Outlying Islands (the)', 90)),
('Czech Republic', ('Central African Republic (the)', 86)),
('Republic of the Congo', ('Bahamas (the)', 86)),
('Sudan', ('South Sudan', 90)),
('Laos', ('Barbados', 68))]
# ,
# ('Democratic Republic of the Congo',('Congo (the Democratic Republic of the)', 95)),
# ('North Korea', ("Korea (the Democratic People's Republic of)", 86))]

In [191]:
omitLeft=[x for x,y in omit]

In [192]:
[(left, process.extractOne(left, UnmatchedRight)) for left in UnmatchedLeft if left not in omitLeft]

[('Netherlands', ('Netherlands (the)', 95)),
 ('Taiwan', ('Taiwan (Province of China)', 90)),
 ('United Kingdom',
  ('United Kingdom of Great Britain and Northern Ireland (the)', 90)),
 ('Cape Verde', ('Cabo Verde', 80)),
 ('Philippines', ('Philippines (the)', 95)),
 ('Dominican Republic', ('Dominican Republic (the)', 95)),
 ('Moldova', ('Moldova (the Republic of)', 90)),
 ('Tanzania', ('Tanzania, the United Republic of', 90)),
 ('Bolivia', ('Bolivia (Plurinational State of)', 90)),
 ('Gambia', ('Gambia (the)', 90)),
 ('Ivory Coast', ("Côte d'Ivoire", 58)),
 ('Palestine', ('Palestine, State of', 90)),
 ('Russia', ('Russian Federation (the)', 90)),
 ('Niger', ('Niger (the)', 90)),
 ('Comoros', ('Comoros (the)', 90)),
 ('Vietnam', ('Viet Nam', 93)),
 ('Venezuela', ('Venezuela (Bolivarian Republic of)', 90)),
 ('United Arab Emirates', ('United Arab Emirates (the)', 95)),
 ('Iran', ('Iran (Islamic Republic of)', 90)),
 ('Syria', ('Syrian Arab Republic (the)', 90)),
 ('Central African Republic', ('Central African Republic (the)', 95)),
 ('Democratic Republic of the Congo',
  ('Congo (the Democratic Republic of the)', 95)),
 ('North Korea', ("Korea (the Democratic People's Republic of)", 86))]

In [193]:
[(left, process.extractOne(left, UnmatchedRight)[0]) for left in UnmatchedLeft if left not in omitLeft]

[('Netherlands', 'Netherlands (the)'),
 ('Taiwan', 'Taiwan (Province of China)'),
 ('United Kingdom',
  'United Kingdom of Great Britain and Northern Ireland (the)'),
 ('Cape Verde', 'Cabo Verde'),
 ('Philippines', 'Philippines (the)'),
 ('Dominican Republic', 'Dominican Republic (the)'),
 ('Moldova', 'Moldova (the Republic of)'),
 ('Tanzania', 'Tanzania, the United Republic of'),
 ('Bolivia', 'Bolivia (Plurinational State of)'),
 ('Gambia', 'Gambia (the)'),
 ('Ivory Coast', "Côte d'Ivoire"),
 ('Palestine', 'Palestine, State of'),
 ('Russia', 'Russian Federation (the)'),
 ('Niger', 'Niger (the)'),
 ('Comoros', 'Comoros (the)'),
 ('Vietnam', 'Viet Nam'),
 ('Venezuela', 'Venezuela (Bolivarian Republic of)'),
 ('United Arab Emirates', 'United Arab Emirates (the)'),
 ('Iran', 'Iran (Islamic Republic of)'),
 ('Syria', 'Syrian Arab Republic (the)'),
 ('Central African Republic', 'Central African Republic (the)'),
 ('Democratic Republic of the Congo',
  'Congo (the Democratic Republic of the)'),
 ('North Korea', "Korea (the Democratic People's Republic of)")]

In [194]:
{process.extractOne(left, UnmatchedRight)[0]:left for left in UnmatchedLeft if left not in omitLeft}

{'Netherlands (the)': 'Netherlands',
 'Taiwan (Province of China)': 'Taiwan',
 'United Kingdom of Great Britain and Northern Ireland (the)': 'United Kingdom',
 'Cabo Verde': 'Cape Verde',
 'Philippines (the)': 'Philippines',
 'Dominican Republic (the)': 'Dominican Republic',
 'Moldova (the Republic of)': 'Moldova',
 'Tanzania, the United Republic of': 'Tanzania',
 'Bolivia (Plurinational State of)': 'Bolivia',
 'Gambia (the)': 'Gambia',
 "Côte d'Ivoire": 'Ivory Coast',
 'Palestine, State of': 'Palestine',
 'Russian Federation (the)': 'Russia',
 'Niger (the)': 'Niger',
 'Comoros (the)': 'Comoros',
 'Viet Nam': 'Vietnam',
 'Venezuela (Bolivarian Republic of)': 'Venezuela',
 'United Arab Emirates (the)': 'United Arab Emirates',
 'Iran (Islamic Republic of)': 'Iran',
 'Syrian Arab Republic (the)': 'Syria',
 'Central African Republic (the)': 'Central African Republic',
 'Congo (the Democratic Republic of the)': 'Democratic Republic of the Congo',
 "Korea (the Democratic People's Republic of)": 'North Korea'}

In [195]:
changesRight={process.extractOne(left, UnmatchedRight)[0]:left for left in UnmatchedLeft if left not in omitLeft}
DataIso.Countryname.replace(changesRight,inplace=True)

In [196]:
allDataFull=demoVars.merge(DataIso,left_on="Country",right_on="Countryname",how='outer',indicator='True')
allDataFull['True'].value_counts()

both          161
right_only     88
left_only       6
Name: True, dtype: int64

In [197]:
UnmatchedRight2=allDataFull[allDataFull['True']=='right_only'].Countryname.to_list()
UnmatchedRight2

['Åland Islands',
 'American Samoa',
 'Andorra',
 'Anguilla',
 'Antarctica',
 'Antigua and Barbuda',
 'Aruba',
 'Bahamas (the)',
 'Barbados',
 'Belize',
 'Bermuda',
 'Bonaire\xa0Sint Eustatius\xa0Saba',
 'Bouvet Island',
 'British Indian Ocean Territory (the)',
 'Brunei Darussalam',
 'Cayman Islands (the)',
 'Christmas Island',
 'Cocos (Keeling) Islands (the)',
 'Congo (the)',
 'Cook Islands (the)',
 'Curaçao',
 'Czechia',
 'Dominica',
 'Falkland Islands (the)',
 'Faroe Islands (the)',
 'French Guiana',
 'French Polynesia',
 'French Southern Territories (the)',
 'Gibraltar',
 'Greenland',
 'Grenada',
 'Guadeloupe',
 'Guam',
 'Guernsey',
 'Heard Island and McDonald Islands',
 'Holy See (the)',
 'Isle of Man',
 'Jersey',
 'Kiribati',
 'Korea (the Republic of)',
 "Lao People's Democratic Republic (the)",
 'Liechtenstein',
 'Macao',
 'Maldives',
 'Marshall Islands (the)',
 'Martinique',
 'Mayotte',
 'Micronesia (Federated States of)',
 'Monaco',
 'Montserrat',
 'Nauru',
 'New Caledonia',
 'Niue',
 'Norfolk Island',
 'Northern Mariana Islands (the)',
 'Palau',
 'Pitcairn',
 'Puerto Rico',
 'Réunion',
 'Saint Barthélemy',
 'Saint Helena\xa0Ascension Island\xa0Tristan da Cunha',
 'Saint Kitts and Nevis',
 'Saint Lucia',
 'Saint Martin (French part)',
 'Saint Pierre and Miquelon',
 'Saint Vincent and the Grenadines',
 'Samoa',
 'San Marino',
 'Sao Tome and Principe',
 'Seychelles',
 'Sint Maarten (Dutch part)',
 'Solomon Islands',
 'Somalia',
 'South Georgia and the South Sandwich Islands',
 'South Sudan',
 'Sudan (the)',
 'Svalbard\xa0Jan Mayen',
 'Tokelau',
 'Tonga',
 'Turks and Caicos Islands (the)',
 'Tuvalu',
 'United States Minor Outlying Islands (the)',
 'United States of America (the)',
 'Vanuatu',
 'Virgin Islands (British)',
 'Virgin Islands (U.S.)',
 'Wallis and Futuna',
 'Western Sahara']

In [198]:
[(left, process.extract(left, UnmatchedRight2,limit=3)) for left in omitLeft]

[('South Korea',
  [('Korea (the Republic of)', 86),
   ('South Georgia and the South Sandwich Islands', 86),
   ('South Sudan', 64)]),
 ('United States',
  [('United States Minor Outlying Islands (the)', 90),
   ('United States of America (the)', 90),
   ('Micronesia (Federated States of)', 86)]),
 ('Czech Republic',
  [('Korea (the Republic of)', 86),
   ("Lao People's Democratic Republic (the)", 86),
   ('Czechia', 64)]),
 ('Republic of the Congo',
  [('Bahamas (the)', 86),
   ('British Indian Ocean Territory (the)', 86),
   ('Congo (the)', 86)]),
 ('Sudan', [('South Sudan', 90), ('Sudan (the)', 90), ('Åland Islands', 54)]),
 ('Laos', [('Barbados', 68), ('Tokelau', 51), ('Åland Islands', 45)])]

In [203]:
lastChangesIso={'Korea (the Republic of)':'South Korea', 
                'United States of America (the)':'United States',
                'Czechia':'Czech Republic', 
                'Congo (the)':'Republic of the Congo',
                'Sudan (the)':'Sudan',
                "Lao People's Democratic Republic (the)":'Laos'}

In [205]:
DataIso.Countryname.replace(lastChangesIso,inplace=True)
allDataFull=demoVars.merge(DataIso,left_on="Country",right_on="Countryname",how='outer',indicator='True')
allDataFull['True'].value_counts()

both          167
right_only     82
left_only       0
Name: True, dtype: int64

Notice that I included the argument **indicator=True**, which added a column telling if the row comes from both, or from the left or rigth data frame.

### Looking for improvements after merging

Let me pay attention to this result again:

In [ ]:
allRight=ciainter.merge(ciapop,left_on='Country',right_on='countries',how='left', indicator=True) 
allRight

The previous result is different from this one:

In [ ]:
ciainter.merge(ciapop,left_on='Country',right_on='countries')

There is **one** row difference, let me see:

In [ ]:
allRight[allRight._merge!='both']

I have found the only country that is not present in 'ciapop'. Imagine you had **The Antarctica** in *ciapop*, you could replace it like this:

In [ ]:
###dictionary of replacements:
#replacementscia={'The Antarctica':'Antarctica'}

### replacing
#ciapop.countries.replace(replacementscia,inplace=True)

...and you will need to redo the merge.

Let me keep the **allRight** dataframe, erasing the irrelevant columns and rows:

In [ ]:
# dropping columns
byeCols=['countries','_merge']
allRight.drop(columns=byeCols,inplace=True)

In [ ]:
# dropping rows
byeRows=[217]
allRight.drop(index=byeRows,inplace=True)

In [ ]:
When you erase

____
____


### <font color="red">Saving File to Disk</font>

#### For future use in Python:

In [ ]:
allRight.to_pickle("allRight.pkl")
# you will need: DF=pd.read_pickle("interhdi.pkl")
# or:
# from urllib.request import urlopen
# DF=pd.read_pickle(urlopen("https://..../interhdi.pkl"),compression=None)

#### For future  use in R:

In [ ]:
from rpy2.robjects import pandas2ri
pandas2ri.activate()

from rpy2.robjects.packages import importr

base = importr('base')
base.saveRDS(allRight,file="allRight.RDS")

#In R, you call it with: DF = readRDS("interhdi.RDS")
#or, if iyou read from cloud: DF = readRDS(url("https://..../interhdi.RDS")

## RESHAPING

### Wide and Long format

The current format of **allRight** is known as the **WIDE** format. In this format, the variables are in every column, the most traditional one for spreadsheet users. Several functions are ready to use this format, for example:

In [ ]:
# A scatter plot
allRight.plot.scatter(x='intusers', y='pob',grid=True)

In [ ]:
# a boxplot
allRight.loc[:,['intusers','pob']].boxplot(vert=False,figsize=(15,5),grid=False)

However, the wide format may be less efficient for some packages:

In [ ]:
#!pip install plotnine

In [ ]:
import plotnine as p9

base=p9.ggplot(data=allRight)
base + p9.geom_boxplot(p9.aes(x=1,y='intusers')) + p9.geom_boxplot(p9.aes(x=2,y='pob'))

Let's see the **LONG** format:

In [ ]:
allRight.melt(id_vars=['Country'])

The amount of of rows multiplies, but **all** the variables in the wide format will use only **TWO** columns in the wide format (in its basic form). Notice the difference in this code:

In [ ]:
allRightLONG=allRight.melt(id_vars=['Country'])
base=p9.ggplot(data=allRightLONG)
base + p9.geom_boxplot(p9.aes(x='variable',y='value'))

### Transposing

We have two data sets on information about race, one for California and one for Washington State. These are the links:

In [ ]:
# California link
linkCa='https://github.com/EvansDataScience/data/raw/master/CaliforniaRace.xlsx'

# Washington link
linkWa='https://github.com/EvansDataScience/data/raw/master/WAraceinfo.xlsx'

You can realize from the links that both data are in Excel format ( _xlsx_ ). Let's fetch them:

In [ ]:
raceca=pd.read_excel(linkCa,0) # first sheet
racewa=pd.read_excel(linkWa,1) # second sheet

Let me see what **racewa** has:

In [ ]:
racewa

The rows give you information on geographical units (the **unit of analysis** is the county). It apparently starts with information of the whole state (Washington), and then county by county. Notice that units of analysis repeat by group age and by year.

Now, let's see what **raceca** has:

In [ ]:
raceca

Notice that the data from California speaks of the same, but the **units of analysis** (counties) appear in the columns. Notice that while WA State only shows counts, CA State also shows percentages. 

The data from WA State is a standard format for data frames, while the one in CA State is not. However, a simple operation known as **transposing** will solve the situation:

In [ ]:
raceca.transpose()

In [ ]:
# Let's make the changes:
raceca=raceca.transpose()

The transposed data frame requires several cleaning steps:

* Move first row as column names:

In [ ]:
# first row, where the columns names are.
raceca.columns=raceca.iloc[0,:].to_list()

* Delete first row:

In [ ]:
raceca.head()

In [ ]:
# dropping first row effective immediatly
raceca.drop(index='Unnamed: 0',inplace=True)

* Keep the columns about **race**:

In [ ]:
# finding positions:
list(enumerate(raceca.columns))

In [ ]:
# values needed:
[0]+ list(range(23,31))

In [ ]:
# keeping the ones I want:
raceca=raceca.iloc[:,[0]+ list(range(23,31))]
raceca

* Drop rows with missing values:

In [ ]:
raceca.dropna(subset=['Statistics'],inplace=True)

When we drop rows, we reset indexes:

In [ ]:
raceca.reset_index(drop=True,inplace=True)

In [ ]:
# currently
raceca

This is a much  simpler data frame.

### Aggregating

The data from WA State has data from different years, while the one from CA is just from 2019. Let's keep that year for WA:

In [ ]:
racewa.query('Year==2019',inplace=True)

Now you have:

In [ ]:
racewa

Notice that the data is organized by age in WA:

In [ ]:
racewa['Age Group'].to_list()

There is a **Total** in **Age Group** that I will not use (that  makes this work simpler).

In [ ]:
racewa=racewa[racewa['Age Group']!='Total']
racewa

The ages are organized in intervals, let's keep the consecutive ones:

In [ ]:
stay=['0-19', '20-64', '65+']

racewa=racewa[racewa['Age Group'].isin(stay)]
racewa

* We should keep the values that do not include '__Washington__'

In [ ]:
racewa=racewa[racewa["Area Name"]!='Washington']
racewa

The **aggregation** is used when you need to colapse rows. You can use different function for collapsing, in this case we will **sum** within each county, so I can get a total per county:

In [ ]:
racewa=racewa.groupby(['Area Name','Area ID','Year']).sum()
racewa

The **Age Group** is not used in the aggreting function **groupby()**, but it is the only **non-numeric**  columns that is not used in this function. Notice that **Age Group** values have been concatenated, and the grouping variables are the **indexes** (row names).

You can drop the age group now:

In [ ]:
racewa.drop(columns=['Age Group'],inplace=True)
racewa

### Appending

The units of analysis in both data frames are the same kind (counties) but they data from one data frame will not be a column for the other. In this situation, you do not **merge**, you **append**.

The condition for appending is that both data frame have the same colum names. Let's see:

In [ ]:
raceca.columns

In [ ]:
racewa.columns

The column 'Some Other Race Alone' in **raceca** has no similar value in **racewa**. Let's drop it:

In [ ]:
raceca.drop(columns=['Some Other Race Alone'],inplace=True)

The columns in WA State have values for male and female. Since CA State do not have that, we have to get rid of those:

In [ ]:
# good names
[name for name in racewa.columns if 'Total' in name]

In [ ]:
# then
racewa=racewa.loc[:,[name for name in racewa.columns if 'Total' in name]]
racewa

We need to reciver the county names in racewa. They are part of the indexes. Let me use the **reset_index** funtion, but using the argument **drop=False**:

In [ ]:
racewa.reset_index(drop=False,inplace=True)

In [ ]:
# you have
racewa

The columns "Area ID" and "Year" are not present in raceca, we should drop them:

In [ ]:
racewa.drop(columns=["Area ID", "Year"],inplace=True)
racewa

Let's see the names of both:

In [ ]:
dict(zip(raceca.columns,racewa.columns))

You can use that dictionary to alter the names in raceca:

In [ ]:
raceca.rename(columns=dict(zip(raceca.columns,racewa.columns)),inplace=True)
raceca

The **raceca** has the word "California"; since you are combining data from different states, it is better you keep that info:

In [ ]:
# using 'expand'
raceca['Area Name'].str.split(pat=", ",expand=True)

The fucntion **str.split** creates two columns, let me save them here:

In [ ]:
twoCols=raceca['Area Name'].str.split(pat=", ",expand=True)
twoCols

Use the columns to replace other columns:

In [ ]:
raceca['Area Name']=twoCols[0]
raceca['State']=twoCols[1]

In [ ]:
# we have
raceca

Let's drop the las row (the 'TOTAL'):

In [ ]:
raceca.drop(index=[41],axis=0,inplace=True)

You can get rid of the 'County' string:

In [ ]:
raceca['Area Name']=raceca['Area Name'].str.replace(" County","")
raceca

The data frame  **racewa** does not have a "State" column, let me create it:

In [ ]:
racewa['State']='Washington'

Let's check the coincidences in  the column names:

In [ ]:
racewa.columns==raceca.columns

Now we can append:

In [ ]:
racewaca=racewa.append(raceca, ignore_index=True)
racewaca

Let's check the data types:

In [ ]:
#checking
racewaca.info()

There are several columns that are numeric, but they have the wrong Dtype. Let's solve this:

In [ ]:
# this require formatting
racewaca[racewaca.columns[1:-1]]

In [ ]:
# let's do it:

racewaca[racewaca.columns[1:-1]]=racewaca[racewaca.columns[1:-1]].astype('float')

In [ ]:
# checking
racewaca.info()